<div class="center">
    <section id="content">

        <h2 class="subheader">Crear un Nuevo Articulo</h2>

        <form action="" class="mid-form" #articleForm="ngForm" (ngSubmit)="onSubmit(article)">
            <div class="form-group">
                <label for="nombre">Titulo</label>
                <input type="text" name="nombre" #title="ngModel" [(ngModel)]="article.title" required />
                <span *ngIf="!title.valid && title.touched">
                El Titulo no es valido
              </span>
            </div>

            <div class="form-group">
                <label for="bio">Contenido</label>
                <textarea name="bio" #content="ngModel" [(ngModel)]="article.content" required> </textarea>
                <span *ngIf="!content.valid && content.touched">
              El Contemido no es valido
            </span>
            </div>

            <div class="form-group">
                <label for="bio">Imagen</label>
                <input type="file" name="file0" #image="ngModel" [(ngModel)]="article.image" required />

            </div>


            <div class="clearfix"></div>
            <input type="submit" value="Guardar" [disabled]="articleForm.invalid" [ngClass]="[articleForm.invalid ? 'btn btn-disabled' : 'btn btn-success']" />
        </form>

    </section>
    <!-- para hacer barras laterales -->
    <app-sidebar></app-sidebar>
</div>